.ens-registration-form-container .ens-registration-summary {
  padding: 15px;
}

.ens-name-input input{
  border-radius: 13px;
}

.ens-name-input .ns-input__prefix {
  left: 13px;
}

.ens-name-input .ns-input__suffix {
  padding: 0px;
  border-left: var(--ns-color-bg-accent);
  background-color: var(--ns-color-bg-accent);
  height: 45px;
  right: 1px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid var(--ns-color-border);
}

.ens-registration-form-container .ens-registration-pricing {
  border-radius: 15px;
  background-color: var(--ns-color-bg);
  border: 1px solid var(--ns-color-border);
  padding: 15px;
}

.ens-registration-pricing .total-fee {
  border-top: 1px solid var(--ns-color-border);
  padding-top: 8px;
}

.ens-expiry-picker {
  padding: 10px;
  border: 1px solid var(--ns-color-border);
  border-radius: 10px;
}

.ens-expiry-picker .ns-btn {
  padding: 12px;
  width: 10px;
  height: 10px;
  border-radius: 7px;
}

.ens-registration-form-container .ens-profile-selector {
  border: 3px dashed var(--ns-color-border);
  border-radius: 10px;
  padding: 15px;
   background-color: var(--ns-color-bg);
}

.ens-profile-selector .shuriken-cont {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background-color: var(--ns-color-border);;
}

.ens-profile-selector .shuriken {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.ens-profile-selector .shuriken:hover {
  transform: rotate(150deg);
}

