.ns-select-records-form {
  background-color: var(--ns-color-bg-accent);
  width: 100%;
  width: 500px;
  border-radius: 15px;
  min-height: 400px;
}

.ns-select-records-form .ns-records-wrapper {
  padding: 10px 20px;
  max-height: 200px;
  overflow-y: auto;
}

.ns-select-records-form .ns-records-content-wrapper {
  padding: 15px;
}

.ns-records-content-wrapper .ns-records-content {
  background-color: var(--ns-color-bg);
  border-radius: 15px;
  height: 100%;
  padding: 10px;
}

.ns-records-content .ns-records-inner {
  max-height: 320px;
  overflow-y: auto;
}

.ns-select-records-form .ns-select-records-content {
  background-color: var(--ns-color-bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ns-select-records-nav .nav-cont {
  background-color: var(--ns-color-bg);
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  opacity: 0.5;
}

.ns-select-records-nav .nav-cont:hover {
  opacity: 0.8;
}

.ns-select-records-nav .nav-cont.active {
  background-color: var(--ns-color-bg);
  opacity: 1;
}

.ns-select-records-form .ns-close-icon {
  cursor: pointer;
  transition: all 0.25s linear;
}

.ns-select-records-form .ns-close-icon:hover {
  transform: scale(1.06);
  background-color: var(--ns-color-bg-accent);
  border-radius: 15px;
  padding: 2px;
}

.ns-select-records-form .not-found-badge {
  border: 1px solid var(--ns-color-bg);
}

.ns-select-records-form .ns-record-actions {
  padding: 0px 20px;
  padding-bottom: 20px;
}

.ns-select-records-form .record-count-badge {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ns-color-bg-accent);
  border-radius: 3px;
  padding: 1px;
}

.ns-records-content .ns-records-sidebar .sidebar-item {
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s linear;
}

.ns-records-content .ns-records-sidebar .sidebar-item.active {
  background-color: var(--ns-color-bg-accent);
  border-radius: 5px;
}

.ns-records-content .ns-records-sidebar .sidebar-item:hover {
  background-color: var(--ns-color-bg-accent);
  border-radius: 5px;
}

.ns-text-records .row {
  display: flex;
  flex-wrap: wrap;
}

.ns-text-records .row > [class*="col-"] {
  display: flex;
}

.ns-text-records .ns-text-suggestion {
  padding: 5px;
  outline: 1px solid var(--ns-color-border);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s linear;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ns-text-records .ns-text-suggestion:hover {
  background-color: var(--ns-color-bg-accent);
}

.ns-text-records .ns-close-icon {
  cursor: pointer;
  transition: all 0.25s linear;
}

.ns-text-records .ns-close-icon:hover {
  transform: scale(1.06);
  background-color: var(--ns-color-bg-accent);
  border-radius: 15px;
  padding: 2px;
}

@media screen and (max-width: 600px) {
  .ns-select-records-form {
    width: 100%;
  }
}
