.ns-select-records-form {
  background-color: var(--ns-color-bg-accent);
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 15px;
}

.ns-select-records-form .ns-records-wrapper {
  padding: 10px 20px;
  max-height: 200px;
  overflow-y: auto;
}

.ns-select-records-form .ns-select-records-content {
  background-color: var(--ns-color-bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ns-select-records-nav .nav-cont {
  background-color: var(--ns-color-bg);
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  opacity: 0.5;
}

.ns-select-records-nav .nav-cont:hover {
  opacity: 0.8;
}

.ns-select-records-nav .nav-cont.active {
  background-color: var(--ns-color-bg);
  opacity: 1;
}

.ns-select-records-form .ns-close-icon {
  cursor: pointer;
  transition: all 0.25s linear;
}

.ns-select-records-form .ns-close-icon:hover {
  transform: scale(1.06);
  background-color: var(--ns-color-bg-accent);
  border-radius: 15px;
  padding: 2px;
}

.ns-select-records-form .not-found-badge {
  border: 1px solid var(--ns-color-bg);
}

.ns-select-records-form .ns-record-actions {
  padding: 0px 20px;
  padding-bottom: 20px;
}
