/* Text alignment */
.ns-text-center {
  text-align: center;
}

.ns-text-left {
  text-align: left;
}

.ns-text-right {
  text-align: right;
}

.ns-me-1 {
  margin-right: 5px;
}

.ns-ms-1 {
  margin-left: 5px;
}

.ns-mt-1 {
  margin-top: 5px;
}

.ns-mb-1 {
  margin-bottom: 5px;
}

.ns-me-2 {
  margin-right: 10px;
}

.ns-ms-2 {
  margin-left: 10px;
}

.ns-mt-2 {
  margin-top: 10px;
}

.ns-mb-2 {
  margin-bottom: 10px;
}

.ns-me-3 {
  margin-right: 15px;
}

.ns-ms-3 {
  margin-left: 15px;
}

.ns-mt-3 {
  margin-top: 15px;
}

.ns-mb-3 {
  margin-bottom: 15px;
}

.ns-wd-100 {
  width: 100%;
}