.ens-registration-pricing {
  border-radius: 15px;
  background-color: var(--ns-color-bg);
  border: 1px solid var(--ns-color-border);
  padding: 15px;
}

.ens-registration-pricing .total-fee {
  border-top: 1px solid var(--ns-color-border);
  padding-top: 8px;
}
