.ns-records-sidebar .sidebar-item {
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s linear;
}

.ns-records-sidebar .sidebar-item.active {
  background-color: var(--ns-color-bg-darker);
  border-radius: 5px;
}

.ns-records-sidebar .sidebar-item:hover {
  background-color: var(--ns-color-bg-darker);
  border-radius: 5px;
}

.ns-records-sidebar .ns-records-content {
  height: 230px;
  overflow-y: scroll;
  position: relative;
}

.ns-records-content .bot-gradiant {
  width: 100%;
  height: 30px;
  background-color: red;
  position: absolute;
  bottom: 0px;
}

.ns-records-selector-category .ns-text-record {
  background-color: var(--ns-color-bg);
  padding: 8px;
  border: 1px solid var(--ns-color-border);
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.ns-records-selector-category .ns-text-record:hover {
  background-color: rgb(245, 245, 245);
}

.ns-records-selector-category .ns-text-record.active {
  background-color: var(--ns-color-fg);
}

.ns-text-record .ns-icon-cont {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: var(--ns-color-fg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ns-text-record.disabled {
  background-color: var(--ns-color-bg-darker);
  border-color: var(--ns-color-bg-darker);
  opacity: 0.5;
  cursor: not-allowed;
}

.ns-text-record.disabled:hover {
  border-color: var(--ns-color-border);
}

.ns-text-record.active .ns-icon-cont {
  background-color: var(--ns-color-bg);
}
